<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EmTrac2SF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="EmTrac" connectionString="Data Source=XXXX;Initial Catalog=ops;Persist Security Info=True;User ID=XXXX;Password=XXXX" providerName="System.Data.SqlClient" />
		<add name="SalesforceLogin" connectionString="Username=XXXX;Password=XXXX;Token=" />
		<add name="SalesforceDEV1" connectionString="Username=XXXX;Password=XXXX;Token=" />
		<add name="SalesforcePRODUCTION" connectionString="Username=XXXX;Password=XXXX;Token=" />
	</connectionStrings>
	<appSettings>
		<add key="LogDBErrors" value="0" />
		<add key="DBRetries" value="1" />
		<!--		<add key="User" value="XXXX" />
		//-->
		<add key="User" value="XXXX" />

		<add key="Instance" value="XXXX" />
		<!--
		<add key="Instance" value="XXXX"/>
		<add key="Instance" value="XXXX"/>
		-->
		<add key="LDAPUID" value="XXXX\XXXX" />
		<add key="LDAPPwd" value="XXXX" />
		<!--
		<add key="LDAPUID" value="XXXX\XXXX"/>
		<add key="LDAPPwd" value="XXXX"/>
		-->
		<add key="XXXX" value="XXXX.XXXX.root01.org" />
	</appSettings>
	<system.web>
		
				<customErrors mode="Off"/>
		
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    validate="false" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
	<!--
			 <value>https://test.salesforce.com/services/Soap/c/22.0/XXXX</value>
	-->
	<applicationSettings>
		<EmTrac2SF.Properties.Settings>
   <setting name="EmTrac2SF_EMSC_SF_SforceService" serializeAs="String">
    <value>https://login.salesforce.com/services/Soap/c/23.0/XXXX</value>
   </setting>
  </EmTrac2SF.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>
</configuration>